@media only screen and (max-width: 1300px) {

    #cuadro {
        grid-template-columns: 1fr 1fr;
        padding: 10px;
      }

    #numero1 {
        max-width: 100%;
    }

    #numero2 {
        max-width: 100%;
    }

    #numero3 {
        margin-top: 10px;
        max-width: 100%;
    }

    body{
        min-width: 700px;
    }
}