body {
    margin: 0 auto;
    background-color: #ECECEA;
}

header {
    background-color: #ECECEA;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: -16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo {
    max-height: 70px;
    margin: 0 auto;
    display: block;
}

main {
    text-align: center;    
    margin: 0 auto;
    max-width: 360px;    
    min-width: 300px;
    padding-bottom: 20px;
    padding-top: 1px;
}

h1, h2, h3, h4 {
    font-family: 'Oleo Script', sans-serif;
    color: #1C535F;
}

p {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 0.9em;
}
h2 {
    padding-top: 15px;
    margin-bottom: 10px;
}

#contenido {
    margin-top: -37px;
    /*display: grid;
    grid-template-columns: 1fr;*/
    gap: 10px;
}

.hero-ph img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#suite-contenido {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

#suite-contenido img {
    margin: 0 auto;
    max-width: 90%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#suite-contenido p {
    margin: 0 auto;
    max-width: 90%;
    text-align: left;
}

#suite-form {
    max-width: 90%;
    font-family: 'Tenor Sans', sans-serif;
    display: grid;
}

#fullname-label {
    padding-bottom: 10px;
    text-align: left;
    grid-row: 1;
}

#fullname-value {
    padding: 10px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    grid-row: 2;
}

#email-label {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    grid-row: 3;
}

#email-value {
    padding: 10px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    grid-row: 4;
}

#comments-label {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-row: 5;
}

#comments-value {
    padding: 10px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    grid-row: 6;
}

#submitear {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px;
    background-color: #C7D6DC;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    grid-row: 7;
}

#submitear:hover {
    background-color: teal;
}

#submitear:active {
    background-color: #edae49;
}

#gracias {
    color: #edae49;
    font-size: 1.2em;
    max-width: 500px;
    margin: 0 auto;
    font-weight: bold;
}

/*****************************************************************/

#reception-info {
    margin: 0 auto;
}

#reception-info p {
    margin: 0 auto;
    max-width: 95%;
    text-align: left;
}

/*****************************************************************/


#page-title {
    padding-top: 15px;
    grid-column: 1/2;
    grid-row: 1;
}

#content1 {
    grid-column: 1/2;
    grid-row: 3;
    max-width: 95%;
    margin: 0 auto;
}

#content2 {
    grid-column: 1/2;
    grid-row: 4;
    margin: 0 auto;
}

#content3 {
    grid-column: 1/2;
    grid-row: 5;
    max-width: 95%;
    margin: 0 auto;
}

#content4 {
    grid-column: 1/2;
    grid-row: 6;
    max-width: 95%;
    margin: 0 auto;
}

#services {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

#services img {
    max-width: 100%;
    border-radius: 3px 3px 0px 0px;
}

#service1 {
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px 3px 3px 3px;
    grid-column: 1/2;
    grid-row: 1;
}
#service2 {
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px 3px 3px 3px;
    grid-column: 1/2;
    grid-row: 2;
}
#service3 {
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px 3px 3px 3px;
    grid-column: 1/2;
    grid-row: 3;
}
#service4 {
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px 3px 3px 3px;
    grid-column: 1/2;
    grid-row: 4;
}
#service5 {
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px 3px 3px 3px;
    grid-column: 1/2;
    grid-row: 5;
}
#service6 {
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px 3px 3px 3px;
    grid-column: 1/2;
    grid-row: 6;
}
#service7 {
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px 3px 3px 3px;
    grid-column: 1/2;
    grid-row: 7;
}
#service8 {
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px 3px 3px 3px;
    grid-column: 1/2;
    grid-row: 8;
}

footer {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin: 0 auto;
    max-width: 360px;
    min-width: 300px;  
    background-color: #DCE4E5;
    color: #823636;
}

.footext {
    font-size: 0.8em;
}

nav {
    margin: 0 auto;
    max-width: 360px;    
    min-width: 300px; 
    background-color: #823636;
    font-family: 'Carrois Gothic SC', sans-serif;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#navigation {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
}

#navigation li:first-child {
    display: block;
}

#navigation li {
    display: none;
}

#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
    display: block;
    padding: 0.75em;
    text-align: center;
    text-decoration: none;
    color: #FAF5EF;
}

#navigation a:hover {
    color: #091C20;
    background-color: #bd5050;
}

#navigation.responsive li {
    display: block;
}

.currentpage {
    background-color:  #1C535F;
    border: 3px solid #133f49;
    text-decoration-line: underline;
    text-decoration-style: double;
}

/********************************************************/



/********************************************************/

@media only screen and (min-width:34.5em){
    nav {
        max-width: 100%;
    }
    #navigation {
        grid-template-columns: repeat(5, auto);
    }
    #navigation li {
        display: block;
    }
    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
        text-align: center;
    }
    #navigation li:first-child {
        display: none;
    }

    header {
        margin: 0 auto;
        max-width: 100%;
        min-height: 150px;
        margin-bottom: -16px;
        display: block;
    }

    header p {
        font-size: 3em;
    }

    #logo {
        max-height: 150px;
    }

    main {
        width: 800px;
        margin: 0 auto;
        max-width: 100%;
    }

    #contenido {
        grid-template-columns: 1fr 1fr;
    }

    #page-title {
        grid-column: 1/3;
        grid-row: 1;
    }

    #hero-container {
        grid-column: 1/3;
        grid-row: 2;
        max-height: 300px;
    }

    .summary-overlay {
        position: relative;
        min-width: 200px;
        max-width: 225px;
        top: -270px;
        left: 25px;
        opacity: 95%;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #content1 {
        grid-column: 1/3;
        grid-row: 3;
    }

    #content2 {
        grid-column: 1/3;
        grid-row: 4;
    }

    #content3 {
        grid-column: 1/3;
        grid-row: 5;
    }

    #content4 {
        grid-column: 1/3;
        grid-row: 6;
    }

    #services {
        grid-template-columns: 1fr 1fr;
    }

    #service1 {
        grid-column: 1/2;
        grid-row: 1;
    }
    #service2 {
        grid-column: 2/3;
        grid-row: 1;
    }
    #service3 {
        grid-column: 1/2;
        grid-row: 2;
    }
    #service4 {
        grid-column: 2/3;
        grid-row: 2;
    }    
    #service5 {
        grid-column: 1/2;
        grid-row: 3;
    }
    #service6 {
        grid-column: 2/3;
        grid-row: 3;
    }
    #service7 {
        grid-column: 1/2;
        grid-row: 4;
    }
    #service8 {
        grid-column: 2/3;
        grid-row: 4;
    }    

    footer {
        margin-top: 0;
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
    }

    /****************************************************/

    #suite-contenido {
        grid-template-columns: 1fr 1fr;
        max-width: 90%;
        margin: 0 auto;
    }
    
    #suite-contenido img {
        max-width: 100%;
    }

    #photo1 {
        grid-row: 1;
        grid-column: 1/2;
    }
    #text1{
        grid-row: 1;
        grid-column: 2/3;
    }
    #photo2 {
        grid-row: 2;
        grid-column: 1/2;
    }
    #text2{
        grid-row: 2;
        grid-column: 2/3;
    }
    #suite-form {
        margin: 0 auto;
        max-width: 90%;
        grid-template-columns: auto 1fr;
        gap: 15px;
    }
    
    #fullname-label {
        padding-top: 10px;
        grid-row: 1;
        grid-column: 1/2;
    }
    
    #fullname-value {
        grid-row: 1;
        grid-column: 2/3;
    }
    
    #email-label {
        padding-top: 10px;
        grid-row: 2;
        grid-column: 1/2;
    }
    
    #email-value {
        grid-row: 2;
        grid-column: 2/3;
    }
    
    #comments-label {
        padding-top: 10px;
        grid-row: 3;
        grid-column: 1/2;
    }
    
    #comments-value {
        grid-row: 3;
        grid-column: 2/3;
    }
    
    #submitear {
        grid-row: 4;
        grid-column: 1/3;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 54.5em){
    #navigation {
        width: 800px;
        margin: 16px auto;
    }
    /****************************************************/

    #contenido {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #page-title {
        grid-column: 1/4;
    }

    #hero-container {
        grid-column: 1/4;
    }

    .summary-overlay {
        top: -280px;
        left: 25px;
    }

    #content1 {
        grid-column: 1/4;
        grid-row: 3;
        max-width: 95%;
        margin: 0 auto;
    }

    #content2 {
        grid-column: 1/4;
        grid-row: 4;
    }

    #services {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
        max-width: 100%;
        margin: 0 auto;
    }

    #service1 {
        grid-column: 1/2;
        grid-row: 1;
    }
    #service2 {
        grid-column: 2/3;
        grid-row: 1;
    }
    #service3 {
        grid-column: 3/4;
        grid-row: 1;
    }
    #service4 {
        grid-column: 4/5;
        grid-row: 1;
    }
    #service5 {
        grid-column: 1/2;
        grid-row: 2;
    }
    #service6 {
        grid-column: 2/3;
        grid-row: 2;
    }
    #service7 {
        grid-column: 3/4;
        grid-row: 2;
    }
    #service8 {
        grid-column: 4/5;
        grid-row: 2;
    }

    #content3 {
        grid-column: 1/5;
        grid-row: 5;
    }

    #content4 {
        grid-column: 1/5;
        grid-row: 6;
    }
}