body {
    margin: 0 auto;
    background-color: #EDECEA;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Federo';
    font-size: 22px;
    text-align: center;
  }
  
  a, a:visited {
    color: #02B2EA;
    text-decoration: none;
   }
  
  a:hover, a:active {
    color: #016484;
    text-decoration: none;
   }
  
  #cuadro {
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1200px;
    background-color: #F1F1F1;
  }
  
  .grad1 {
    padding-top: 1px;
    margin: 0 auto;
    max-width: 1200px;
    height: 100px;
    background-image: linear-gradient(#C8F6FE, #F1F1F1);
    border-radius: 0px 0px 0px 0px;
  }
  
  #name1 {
    margin-left: -40%;
  }
  
  #titulo {
    margin: 0 auto;
    margin-top: 30px;
  }
  
  h1 {
    background-color: #016484;
    color: #F7F7F7;
    border-radius: 15px 15px 0px 0px;
    max-width: 1200px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #016484;
  }

  p {
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  #foot{
    margin: 0 auto;
    margin-top: -23px;
    max-width: 1200px;
    height: 100px;
    background-image: linear-gradient(#F1F1F1, #C8F6FE);
    border-radius: 0px 0px 15px 15px;
  }
  
  .footext {
    padding-top: 20px;
    padding-bottom: -10px;
  }

  img {
      max-width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

 .desc {
      background-color: white;
      max-width: 100%;
      border-radius: 15px 15px 15px 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  nav ul {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0px;
  }

  a:hover {
    color: #003366;
    background-color:#ffb700;
  }
  
  a:active {
    color: #A8996C;
    background-color: #197dd4;
  }

  .li1 {
    padding: 10px;
    flex: 20%;
  }

  .li2 {
    padding: 10px;
    flex: 20%;
  }

  .li3 {
    padding: 10px;
    flex: 20%;
  }

  .li4 {
    padding: 10px;
    flex: 20%;
  }

  #logo {
    margin-bottom: 20px;
  }

  #personas {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: auto auto;
  }

  #personas-title {
    text-align: center;
    /*grid-column: 1/4;*/
    grid-row: 1/2;
  }

  #chad-title {
    /*grid-column: 1/4;*/
    grid-row: 2/3;
  }

  #photo_persona1 {
    /*grid-column: 1/2;*/
    grid-row: 3;
    margin: 0 auto;
    min-width: 300px;
}  

  #description_persona1 {
    /*grid-column: 2/4;*/
    grid-row: 3;
    text-align: left;
    margin-left: 10px;
    margin-right: 20px;
}

  #betty-title {
    /*grid-column: 1/4;*/
    grid-row: 4/5;
  }

  #photo_persona2 {
    /*grid-column: 1/2;*/
    grid-row: 5/6;
    margin: 0 auto;
    min-width: 300px;
  }  

  #description_persona2 {
    /*grid-column: 2/4;*/
    grid-row: 5/6;
    text-align: left;
    margin-left: 10px;
    margin-right: 20px;
  }

  #scenarios {
    text-align: left;
  }

  #coolors-scheme {
    margin: 0 auto;
    max-width: 75%;
  }

  .sunray {
    color: #EDAE49;
  }

  .indigodye {
    color: #003D5B;
  }

  .powderblue {
    color: #AAD8D9;
  }

  .charcoal {
    color: #2F4A57;
  }

  .metallicseaweed {
    color: #00798C;
  }

  .aliceblue {
    background-color: #E8EEF0;
    color: black;
  }

  #monserratalternates-paragraph {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #E14848;
  }

  #amaranth-paragraph {
    font-family: 'Amaranth', sans-serif;
    color: #E14848;
  }

  #quattrocentosans-paragraph {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #E14848;
  }