@media only screen and (max-width: 700px) {

    .li1, .li2, .li3, .li4 {
        flex: 100%;
    }

    #cuadro {
        padding-top: 100px;
    }

    body{
        min-width: 400px;
    }

    #personas {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }
}