body {
    margin: 0 auto;
    background-color: #ECECEA;
}

header {
    background-color: #ECECEA;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: -16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo {
    max-height: 70px;
    margin: 0 auto;
    display: block;
}

main {
    text-align: center;    
    margin: 0 auto;
    max-width: 360px;    
    min-width: 300px;
    padding-bottom: 20px;
    padding-top: 1px;
}

h1, h2, h3, h4 {
    font-family: 'Oleo Script', sans-serif;
    color: #1C535F;
}

p, pre {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 0.9em;
}

h2 {
    padding-top: 15px;
    margin-bottom: 10px;
}

#contenido {
    margin-top: -37px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

#page-title {
    grid-column: 1/2;
    grid-row: 1;
}

.templecard img {
    max-width: 100%;
}

.templecard {
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 6px 6px 6px 6px;
    background-color: #FAF5EF;
    padding-bottom: 5px;
}

footer {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin: 0 auto;
    max-width: 360px;
    min-width: 300px;
    background-color: #DCE4E5;
    color: #823636;
}

.footext {
    font-size: 0.8em;
}

nav {
    margin: 0 auto;
    max-width: 360px;    
    min-width: 300px; 
    background-color: #823636;
    font-family: 'Carrois Gothic SC', sans-serif;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#navigation {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
}

#navigation li:first-child {
    display: block;
}

#navigation li {
    display: none;
}

#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
    display: block;
    padding: 0.75em;
    text-align: center;
    text-decoration: none;
    color: #FAF5EF;
}

#navigation a:hover {
    color: #091C20;
    background-color: #bd5050;
}

#navigation.responsive li {
    display: block;
}

.currentpage {
    background-color:  #1C535F;
    border: 3px solid #133f49;
    text-decoration-line: underline;
    text-decoration-style: double;
}

/********************************************************/



/********************************************************/

@media only screen and (min-width:34.5em){
    nav {
        max-width: 100%;
    }
    #navigation {
        grid-template-columns: repeat(5, auto);
    }
    #navigation li {
        display: block;
    }
    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
        text-align: center;
    }
    #navigation li:first-child {
        display: none;
    }

    header {
        margin: 0 auto;
        max-width: 100%;
        min-height: 150px;
        margin-bottom: -16px;
        display: block;
    }

    header p {
        font-size: 3em;
    }

    #logo {
        max-height: 150px;
    }

    main {
        width: 800px;
        margin: 0 auto;
        max-width: 100%;
    }

    #temples {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    footer {
        margin-top: 0;
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
    }

    /****************************************************/

}

@media only screen and (min-width: 54.5em){
    #navigation {
        width: 800px;
        margin: 16px auto;
    }
    /****************************************************/

    #contenido {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #page-title {
        grid-column: 1/4;
    }    
}