#gradient-overlay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    grid-template-rows: repeat(8, auto);
    width: 700px;
    position: relative;
}

#gradient-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(2,0,36,0) 30%, rgba(9,121,86,0.3561799719887955) 42%, rgba(0,159,255,1) 100%);
    z-index: 6;
}

#beckham-image {
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 700px;
    z-index: 6;
}

#left-arrow {
    grid-column: 1;
    grid-row: 1;
    z-index: 12;
    margin:0 auto;
    margin-top: 50px;
}

#right-arrow {
    grid-column: 4;
    grid-row: 1;
    z-index: 12;
    margin:0 auto;
    margin-top: 50px;
}

#beckham1 {
    grid-column: 1;
    grid-row: 8;
    z-index: 12;
    padding: 10px;
}

#beckham2 {
    grid-column: 2;
    grid-row: 8;
    z-index: 12;
    padding: 10px;
    opacity: 0.60;
}

#beckham3 {
    grid-column: 3;
    grid-row: 8;
    z-index: 12;
    padding: 10px;
    opacity: 0.60;
}

#beckham4 {
    grid-column: 4;
    grid-row: 8;
    z-index: 12;
    padding: 10px;
    opacity: 0.60;
}

h1 {
    font-family: 'Sarala', sans-serif;
    font-size: 5em;
    color: white;
    /*text-shadow: 2px 2px 4px #000000;*/
    grid-column: 1/3;
    grid-row: 6;
    z-index: 12;
    padding-left: 40px;
    margin: 0;
}

#text {
    font-family: 'Sarala', sans-serif;
    font-size: 2em;
    color: white;
    /*text-shadow: 2px 2px 4px #000000;*/
    grid-column: 1/5;
    grid-row: 7;
    z-index: 12;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0;
}